<!DOCTYPE html>
<html>
	<head>
		<title>
			Friend OS Repository
		</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Maven+Pro&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="assets/style_main.css"/>
	</head>
	<body>
		<header>
		</header>
		<content>
			<h1>
				Welcome to the Friend OS Repository!
			</h1>
			<p>
				This server is associated with the Friend OS project. Please
				visit <a href="https://friendos.com">https://FriendOS.com</a> for more information.
			</p>
		</content>
		<footer>
		</footer>
	</body>
</html>
